*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
   background-color: rgb(255, 255, 255);
   z-index: 9;
   padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
   box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.5);

}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.nav_side{
   float: right;
   margin-top: 20px;
   
}

.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
    color: black;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav_side a:hover{
    color:orange;
    text-decoration: underline;
    font-weight: 600;
    transition: all 0.3s ease;
}

.main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.8)),url('errorAll-fafabfbe3039b34ee83b2773ce80bf73.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;

}

.main .main_content{
    padding-top: 17%;
    margin-left:10%;
    margin-right: 10%;
}

.main .main_content h2{
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 40px;
   
}

.main .main_content h2 span{
    font-size: 17px;
    font-weight: 500;
     line-height: 5px;
     color:rgb(0, 0, 0);
     text-align: center;
}

.main .main_content .btn1{
   
    margin-top: 50px;
    text-align: center;
}
.main .main_content .btn1 a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    background: rgb(0, 0, 0);
    color: orange;
    padding: 13px;
    border:none;
    outline: none;
    border-radius: 0 25px 0 25px;
   
    
}
.main .main_content .btn1 a:hover{
   font-size: 35px;
   border-bottom: 5px solid orange;

}

.product{
    margin-top: 20px;
}

.product .pro{
    
    text-align: center;
    color: orange;
    font-size: 30px;
    margin-bottom: 30px;
}

.product .product_container{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;

}

.product .product_container .item{
    width: 33.33%;
    margin: 10px;
    height: auto;

}
.product .product_container .item .item_img{
     width: 100%;
     height: 400px;
     overflow: hidden;
}

.product .product_container .item .item_img img{
     width: 100%;
     height: 400px;
}

.product .product_container .item .item_content{
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    

}

.product .product_container .item .item_content p{
    font-family: sans-serif;
}

.product .product_container .item .item_content a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    background: rgb(218, 8, 218);
    color: black;
    padding: 10px;
    border:none;
    outline: none;
    border-radius:10px 10px 10px 10px;
    margin-top: 10px;
   
    
}

.product_btn{ 
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.product_btn a{
    font-size: 22px;
    text-decoration: none;
    color: blue;
    font-weight: 400;
}

.product_btn a:hover{
    text-decoration: underline;
}

.keypoint{
    padding: 50px;

}

.keypoint h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}

.keypoint .key_container{
    display: flex;

}

.keypoint .key_container .key_content{
    width: 40%;
    padding: 20px;
    float: left;
    margin-top: 50px;

}

.keypoint .key_container .key_content li{
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    border-left:2px solid orange;
    color:black;
    text-align: left;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
    list-style: none;
    
}

.keypoint .key_container .key_img{
    width: 60%;
    float: right;
    margin-left: 300px;
}

.keypoint .key_container .key_img img{
    width: 100%;
}

.testi{
    padding: 50px;

}
.testi .kk{
    color: rgb(255, 0, 0);
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}

.testi .testi_container{
    margin-right:10%;
    margin-left: 10%;
    text-align: center;
}

.testi .testi_container .item{
     width: 100%;
     background-color: white;
}

.testi .testi_container .item_img img{
    width: 20%;
    height: 250px;
    border-radius: 50%;
}

.testi .testi_container .item_content h3{
    font-weight: 700;
    font-size: 35px;
}
.testi .testi_container .item_content p{
    color: black;
    font-weight: 600;
}

footer{
    background-color: #99A3A4;
    padding: 50px;

}

footer .pages{
    text-align: center;

}

footer .pages h3{
    color: black;
    font-size: 25px;
    padding: 5px;

}

footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 25px;
}

footer .pages a:hover{
    color: white;
}
footer .doc{
    text-align: center;

}

footer .doc h3{
    color: black;
    font-size: 25px;
    padding: 5px;

}

footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 25px;
}

footer .doc a:hover{
    color: white;
}
footer .social{
    text-align: center;

}

footer .social h3{
    color: black;
    font-size: 25px;
    padding: 5px;

}

footer .social a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 25px;
}

footer .social a:hover{
    color: white;
}
footer .contact{
    text-align: center;

}

footer .contact h3{
    color: black;
    font-size: 25px;
    padding: 5px;

}

footer .contact a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 25px;
}

footer .contact a:hover{
    color: white;
}

.copy{
    text-align: center;
    font-weight: bold;
}

.team{
    padding: 50px;

}

.team h2{
   
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.team .team_container{
    display: flex;
}
.team .team_container .team_video{
    width: 50%;
    padding: 20px;
}
.team .team_container .team_content{
    width: 40%;
    padding: 20px;
    margin-left: 50px;
}

.team .team_container .team_content p{
    line-height: 30px;
}

.team .team_container .team_video video{
    width: 100%;
}

.feed{
    padding: 30px;
    margin-top: 15px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.8)),url('errorAll-fafabfbe3039b34ee83b2773ce80bf73.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;

}

.feed h2{
    color: black;
    text-align: center;
    font-size: 55px;
    margin-bottom: 50px; 
}

.feed .feed_form{
    text-align: center;
    width: 45%;
    border: 1px solid orange;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.7);
    padding: 50px;
    margin-left: 500px;

}


.feed .feed_form .name{

    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    width: 90%;
    border-left: 5px solid orange;
    border-radius: 5px;
   
}
.feed .feed_form .email{

    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    width: 90%;
   
    border-left: 5px solid orange;
    border-radius: 5px;
}
.feed .feed_form .number{

    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    width: 90%;
   
    border-left: 5px solid orange;
    border-radius: 5px;
}
.feed .feed_form .area{

    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    width: 90%;
    border: 1px solid orange;

}

.about_container{
   margin-top: 100px;
    padding: 50px;
}

.about_container h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: orange;
    margin-bottom: 25px;
}

.about_container p{
    text-align: center;
    margin-bottom: 25px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: lighter;
}

